# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Node
node_modules/
dist/
build/
.npm/
.pnpm-store/

# Java
target/
.gradle/
out/

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Logs
*.log

# Env
.env
.env.*

docs/